body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
}

/* navigation bar */

.tab {
    border: 1px solid black;
    background-color: rgb(183, 230, 230);
    overflow: hidden;
    font-size: xx-large;

    width: 99.8%;
    top: 5px;
    align-items: center;
    position:sticky;
}

.tab a {
    float: right;
    border: none;
    outline: none;
    padding: 15px 15px;

    
}

.tab a:any-link {
    color: #000;
    text-decoration: none;
}

.tab a:hover {
    background-color: rgb(123, 220, 220);
}

/* headers */

.title {
    margin: 0;
    padding: 12.5px;
    text-align: left;
}

.logo {
    float: left;
    width:50px;
    margin: 12px;
}

/* texts */

p {
    font-size: x-large;
    margin-left: 5px;
    text-align: justify;
    margin-right: 5px;
}

h1, h2 {
    margin-left: 5px;
    margin-top: 15px;
}

hr {
    border: 2px solid black;
}

ul {
    list-style-type: none;
    margin-left: -20px;
}

ul li p {
    text-align: left;
}

.links > ul > li {
    font: small;
}

.links {
    background-color: aliceblue;
}